@media only screen and (max-width: 600px) {
    body {
        background: #FFEDDB;
        overflow-x: hidden;
        width: 100%;
    }
    .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .row {
        padding: 0 15px !important;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .px-xs {
        padding: 0 40px;
    }
    .btn-primary {
        padding: 10px 30px;
    }
    h1 {
        /* Header Text */
        font-size: 80px;
        padding-bottom: 15px;
    }
    h2 {
        /* Product Title */
        font-size: 22px;
    }
    h3 {
        /* Price */
        font-size: 20px;
        padding: 5px 0;
    }
    h4 {
        /* Header Subtitle */
        font-size: 18px;
    }
    .mobile-center {
        text-align: center !important;
        justify-content: center !important;
    }
    .box-spacer {
        padding: 50px 0;
    }
    .box-spacer-2 {
        padding: 50px 15px !important;
    }
    .section {
        height: 80vh;
    }
    /* HERO */
    .ovals {
        background: url("../img/ovals.png") no-repeat;
    }
    .bands-bg {
        position: relative;
        height: 120px;
    }
    .bands-header {
        position: absolute;
        top: -80px;
        right: -50px;
        width: 60%;
    }
    .peach {
        width: 120px;
        margin-bottom: -5px;
    }
    .header-text {
        padding-top: 60px;
    }
    /* VIDEO */
    .video-container {
        width: 100%;
        height: 250px;
    }
    .video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}