@media only screen and (max-width: 600px) {
    body {
        background: #FFEDDB;
        overflow-x: hidden;
    }
    .home {
        overflow-x: hidden;
        width: 100%;
        height: 100vh;
        margin: 0 auto;
    }
    .desktop {
        display: none;
    }
    .desktop-i {
        display: none;
    }
    .mobile {
        display: inline;
    }
    .px-xs {
        padding: 0 40px;
    }
    .btn-primary {
        padding: 10px 30px;
    }
    h1 {
        /* Header Text */
        font-size: 70px;
        padding-bottom: 15px;
    }
    h2 {
        /* Product Title */
        font-size: 22px;
    }
    h3 {
        /* Price */
        font-size: 20px;
        padding: 5px 0;
    }
    h4 {
        /* Header Subtitle */
        font-size: 16px;
    }
    .p-small {
        font-size: 12px;
        line-height: 20px;
    }
    .mobile-center {
        text-align: center !important;
        justify-content: center !important;
    }
    .box-spacer {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
    .box-spacer-2 {
        padding-top: 50px !important;
        padding-bottom: 20px !important;
    }
    .section {
        height: 80vh;
    }
    /* HERO */
    .ovals {
        background: url("../img/ovals.png") no-repeat;
    }
    .bands-bg {
        position: relative;
        height: 50px;
    }
    .bands-header {
        position: absolute;
        top: -80px;
        right: -50px;
        width: 50%;
    }
    .peach {
        width: 120px;
        margin-bottom: -5px;
    }
    .header-text {
        padding-top: 60px;
    }
    /* VIDEO */
    .video-container {
        width: 100%;
        height: 250px;
    }
    /* MATERIAL */
    .animation-container {
        height: 140px;
    }
    .material-text {
        height: 230px;
    }
    .material-img {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 80px;
    }
}